<!DOCTYPE html>
<html lang="en">
<head>
<!--▼CSS-->
<link rel="stylesheet" href="https://asset.myfabius.jp/lib/common/css/new_common.css">
<link rel="stylesheet" href="https://asset.myfabius.jp/lib/common/css/form_optimization.css">
<link rel="stylesheet" href="https://asset.myfabius.jp/lib/liftize/css/style.css">
<!--▲CSS-->
<!--▼JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--▲JS-->
</head>
<body>
    <div id="wrap" class="upsell thanks_offer_upsell thanks">
        <header>
        <div class="logo flex_box">
            <div>
                 <img src="https://asset.myfabius.jp/lib/common/images/upsell/logo/liftize_headerlogo.png" alt="liftize" />
            </div>
            <div>
                <img src="https://asset.myfabius.jp/lib/common/images/fabius_logo.png" alt="FABIUS" />
            </div>
        </div>
    </header>
<main>
       <div class="message">
            <h3 class="pTB15">以下の内容で承りました。</h3>
            <div class="order_box">
                <div class="order_box_inner">
                    <div>
                        <p class="order_name">{{ order.order_items | map: 'variant' | map: 'name' | join: ', ' }}</p>
                        <div class="sub_total_block">
                            <p class="sub_total">{{ order.subtotal }}円</p>
                            <p class="tax">(消費税：{{ order.tax }}円)</p>
                        </div>
                    </div>
                    <div class="flex_box">
                        <p>請求金額</p>
                        <p class="total_price">{{ order.total }}円</p>
                    </div>
                    <p class="txtS"><br />ご注文確認メールは15分後にお送りいたします。</p>
                </div>
            </div>
            <!--end:order_box-->
        </div>
       <!- end:message -->
            <div class="diagonal_timer">
                __PAYMENT_FORM_PERFORM__
            </div>
        <div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/upsell/002_omatome/z_caution.jpg" alt="まだ閉じないでください"　/>
    </div>
        <div class="upsell_img">
            <img src="https://asset.myfabius.jp/lib/liftize/img/upsell/002_omatome/a_fv.jpg" alt="おまとめコースのご案内" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/upsell/002_omatome/a_intro.jpg" alt="おまとめコースとは" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/upsell/002_omatome/a_suggest.jpg" alt="たるみのない美肌をキープしたい" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/upsell/002_omatome/b_plan01.jpg" alt="おまとめコースをおすすめ" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/upsell/002_omatome/b_plan02.jpg" alt="コース変更するだけでお得に" />
        </div>
        <div class="content cta">
            <img  src="https://asset.myfabius.jp/lib/liftize/img/upsell/002_omatome/z_cv01.jpg" alt="お得なプランへの変更確認" />
                    <div class="cta_btn_center  btm35 wid95">
                    <div>
                        <img  class="animated pulse infinite button" src="https://asset.myfabius.jp/lib/common/images/upsell/z_btn-omatome.png" alt="ボタン" width="750"/>
                    </div>
                    </div>
            </div>
        <div>
            <img src="https://asset.myfabius.jp/lib/liftize/img/upsell/002_omatome/c_closing01.jpg" alt="コース変更するだけでお得に" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/upsell/002_omatome/c_closing02.jpg" alt="コース変更するだけでお得に" />
        </div>
        <div class="upsell_img  btn_area" id="limited">
            <img class="upsell_img" src="https://asset.myfabius.jp/lib/liftize/img/upsell/002_omatome/z_cv02.jpg" alt="お得なプランへの変更確認" />
            <div class="absolute btm30 cv_block" style=" position:absolute; left:50%; transform:translateX(-50%);">
                __PAYMENT_FORM_CV_UPSELL__
               <div class="">
                    <a href="https://fabius.co.jp/thanks.html" data-target="next_offer" class="modal_open" onClick="ga('send','event','cv_upsell','click','not_upsell');">
                        <img class="wid50 absoluteC" src='https://asset.myfabius.jp/lib/common/images/upsell/z_btnNot.png' alt="変更しない" width="750" />
                    </a>
                </div>
            </div>
        </div>
        <!-- タイムアップ用モーダル-->
        <div class="modal_block" id="time_out_modal">
            <div class="moda_block_inner relative">
                <p class="text">お得なコースの受付を終了しました。</p>
                <div class="btn_area">
                    <div class="btn"><a href="https://fabius.co.jp/thanks.html">ページを終了する</a></div>
                </div>
            </div>
        </div>
        <!--end タイムアップ用モーダル-->
    </main>
</div>
{# ureru_lp_footer #}
</body>
<style>
    /**/
/**/
/*ECF　CVアップセル用
__PAYMENT_FORM_PERFORM__
__PAYMENT_FORM_CV_UPSELL__*/


.thanks header img{
width:100%;
}
.thanks_offer_upsell main #countdown-timer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    transform: translate(0%);
    color: #fff;
    font-weight: bold;
    z-index: 500;
    bottom: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   background: #F8546C url(https://asset.myfabius.jp/lib/common/images/upsell/upsell_countdown.png)no-repeat;
    background-size: cover;
    height: 120px;

}

.thanks_offer_upsell　#countdown-timer center {
    align-items: center;
}



.thanks_offer_upsell #countdown-timer center h2 {
    display: none;
}

.timer-clock {
    display: flex;
    width: 65%;
}

.timer-clock span {
    font-size: 3rem;
}


.upsell .countdown {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
}

.thanks_offer_upsell #perform-view .form_container_ec,
.thanks_offer_upsell #perform-view .form_container_sp_ec,
.thanks_offer_upsell .cv-offer-preview-view,
#countdown-timer p.perform_message_ec,
#countdown-timer .perform_message_sp_ec {
    display: none;
}

#cv-upsell-view {
    display: inline-block;
}

.submit_cv_upsell_button_complete_ec,
.submit_cv_upsell_button_complete_sp_ec {
	height: 214px;
    background-size: contain;
    border: none;
    width: 700px;
}


.moda_block_inner .btn_area .btn {
    color: #fff;
    background: #000;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    margin: 2%;
    padding: 5% 0;
}


.upsell .btn_area .btn {
    padding: 5% 0;
    min-width: 130px;
    margin: 10% 0;
}

.thanks_offer_upsell .cv_block {
    display: block;
   justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    
}

.no_change {
    display: inline-block;
}

.submit_ec {
    width: 100%;
    display: inline-block;
}

.upsell #countdown-timer .timer {
    text-align: right;
    font-size: 5rem;
}


.thanks_offer_upsell main #countdown-timer,
#next_offer.modal_block {
    display: none;
}

.thanks_offer_upsell main #countdown-timer.fade_on {
    display: flex;
}



#time_out_modal{
    display: none;
}

#time_out_modal.show,
#next_offer.show {
    display: block;
}

/*モーダルCSS*/
.upsell .modal_block {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 600px;
    margin: auto;
    z-index: 800;
    padding: 30px 0;
    text-align: center;
    background: #fff;
    width: 95%;
}

.upsell .modal_block {
    height: 300px;
}

body>.modal_bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 700;
}

.modal-close {
    left: 0;
    top: 0;
    font-size: 7rem;
    text-decoration: none;
    color: gray;
    padding: 0 3%;
    font-weight: 300;
}
/*タイムアウト時ボタン*/
#expired_cv_upsell{
   /*background: url(https://asset.myfabius.jp/lib/common/images/upsell/z_btn-omatome.png)no-repeat;*/
    background-size: 100%;
    height:200px;
     position: relative;
      line-height: 1.7rem;
    
}

@media screen and (max-width: 751px) {
    .submit_cv_upsell_button_complete_sp_ec {
    height: 140px;
    width: 370px;
   /* margin-right: 5px;*/
  }
   
    
    #limited{
    max-width: 750px;
    overflow-x: hidden;
    overflow-y:hidden;
   }

    .timer-clock {
        width: 55%;
    }

    .thanks_offer_upsell main #countdown-timer {
        background-position: 10%;
        height: 10%;
    }
}



/*テンプレ固有用*/

.submit_cv_upsell_button_complete_ec,
.submit_cv_upsell_button_complete_sp_ec {
    background: url(https://asset.myfabius.jp/lib/common/images/upsell/z_btn-omatome.png)no-repeat;
    background-size: 98%;
}


@media screen and (max-width: 751px) {
    .thanks_offer_upsell .diagonal_timer #countdown-timer {
         height: 60px;
    }
    
 .upsell #countdown-timer .timer {
    text-align: right;
    font-size: 3rem;
}

}

</style>
<script>
    //button
   $('.button').on('click', function() {
    console.log('click');
    $('.submit_cv_upsell_button_complete_sp_ec').trigger('click');
     $('.submit_cv_upsell_button_complete_ec').trigger('click');
})
             


add_millisecond_countdown();
//.modal_openをクリックしたらモーダルと黒い背景を表示する
show_modal();
//サンクスアップセルのタイマータイムアウトしたらモーダル表示する
if (document.readyState === 'loading') { // Loading hasn't finished yet
    document.addEventListener('DOMContentLoaded', (event) => {
        cv_upsell_timeup();
    });
} else { // `DOMContentLoaded` has already fired
    cv_upsell_timeup();
}

             
$(window).scroll(function() {
    $("#countdown-timer").each(function() {
        var imgPos = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > windowHeight / 2) {
            $("#countdown-timer").addClass("fade_on");
        } else {
            $("#countdown-timer").removeClass("fade_on");
        }
    });
});

/* =================================
サンクスアップセル ECFタイマーに0m秒追加
ECFデフォ用タイマー(NG部分テンプレート)
 =================================*/
function add_millisecond_countdown() {
    // 新しいHTML要素を作成
    var ecf_timer = document.getElementsByClassName("timer-clock")[0];
    var target_min = document.getElementsByClassName("minute")[1];
    var target_sec = document.getElementsByClassName("second")[1];
    target_min.textContent = ':';
    target_sec.textContent = ':';
    var new_element = document.createElement('div');

    var new_element_mil = document.createElement('div');
    ecf_timer.appendChild(new_element_mil); // .timer-clock要素にm秒要素ノードを追加
    new_element_mil.setAttribute("id", "millseconds"); // m秒要素にidを設定
    new_element_mil.setAttribute("class", "timer"); // m秒要素にclassを設定
    //ecf_timer.insertBefore(new_element, target_sec.nextSibling) // :　要素を設定

    let count = 99;
    var countUp = () => {
        count--;
        document.querySelector('#millseconds').textContent = addZero(count);
        if (count <= 0) {
            count = 99;
        }
    }
    setInterval(countUp, 10);
}

function addZero(num) {
    return ('00' + num).slice(-2);
}


// ==================================
// cv_upsell_タイムアップ時モーダル表示
// ==================================
function cv_upsell_timeup() {
    const form_cv_upselle = document.getElementById('expired_cv_upsell');
    const time_out_modal = document.getElementById('time_out_modal');
    // オブザーバインスタンスを作成
    const observer = new MutationObserver((mutations) => {
        mutations.forEach((mutation) => {
            // 何かしたいこと
            time_out_modal.classList.add("show");
            $('body').append('<div class="modal_bg"></div>');
            $('.modal_bg').fadeIn();
        });
    });

    // オブザーバの設定
    const config = {
        attributes: true,
        attributeFilter: ['style']
    };

    // 対象ノードとオブザーバの設定を渡す
    observer.observe(form_cv_upsell, config);
}

// ==================================
// モーダル
// ==================================
function show_modal() {
    // 「.modal_open」をクリックしたらモーダルと黒い背景を表示する
    $('.modal_open').click(function() {
        // 黒い背景をbody内に追加
        $('body').append('<div class="modal_bg"></div>');
        $('.modal_bg').fadeIn();

        // data-targetの内容をIDにしてmodalに代入
        var modal = '#' + $(this).attr('data-target');

        // モーダルをウィンドウの中央に配置する
        function modalResize() {
            var w = $(window).width();
            var h = $(window).height();

            var x = (w - $(modal).outerWidth(true)) / 2;
            var y = (h - $(modal).outerHeight(true)) / 2;

            $(modal).css({ 'left': x + 'px', 'top': y + 'px' });
        }
        // modalResizeを実行
        modalResize();

        // modalをフェードインで表示
        $(modal).fadeIn();

        // .modal_bgか.modal_closeをクリックしたらモーダルと背景をフェードアウトさせる
        $('.modal_bg,.modal-close').on('click', function() {
            console.log('');
            $('.modal_block').fadeOut();
            $('.modal_bg').fadeOut('slow', function() {
                $('.modal_bg').remove();
            });
        });

        // ウィンドウがリサイズされたらモーダルの位置を再計算する
        $(window).on('resize', function() {
            modalResize();
        });

    });

}
</script>
</html>