<!--  <head></head> に表示するコードを入力してください。 -->
<meta charset="UTF-8">
<!-- Anti-flicker snippet (recommended)  -->
<style>
.async-hide {
    opacity: 0 !important
}
</style>
<script>
(function(a, s, y, n, c, h, i, d, e) {
    s.className += ' ' + y;
    h.start = 1 * new Date;
    h.end = i = function() { s.className = s.className.replace(RegExp(' ?' + y), '') };
    (a[n] = a[n] || []).hide = h;
    setTimeout(function() {
        i();
        h.end = null
    }, c);
    h.timeout = c;
})(window, document.documentElement, 'async-hide', 'dataLayer', 4000, { 'OPT-5JFNJR4': true });
</script>
<!--end Anti-flicker snippet (recommended)  -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-53155623-52"></script>
<script>
window.dataLayer = window.dataLayer || [];

function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());

gtag('config', 'UA-53155623-52', { 'optimize_id': 'OPT-5JFNJR4' });
</script>
</script>
<!-- end Global site tag (gtag.js) - Google Analytics -->
<!-- Google Tag Manager 00.全商品共通 -->
<script>
(function(w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-5KVJB5R');
</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager liftize用-->
<script>
(function(w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-NJS8GFK');
</script>
<!-- End Google Tag Manager -->
<!--▼CSS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<link rel="stylesheet" href="https://asset.myfabius.jp/lib/common/css/new_common.css">
<link rel="stylesheet" href="https://asset.myfabius.jp/lib/common/css/form_optimization.css">
<link rel="stylesheet" href="https://asset.myfabius.jp/lib/liftize/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css">
<!--▲CSS-->
<!--▼JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://asset.myfabius.jp/lib/common/js/form_optimization.js"></script>
 <script src="https://asset.myfabius.jp/lib/arvo/js/custom.js"></script>
<script src="https://cdn.smart-dialog.jp/profiles/7af02009-9745-4f7c-ac20-87eb36cd58a2/current/bootstrap.js"></script>
 <script src="https://www.youtube.com/iframe_api"></script>
<!--▲JS-->
<!-- <body></body> に表示するコードを入力してください。 -->
<!-- Google Tag Manager (noscript) 全商品共通タグマネ-->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KVJB5R" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- Google Tag Manager (noscript) liftize用-->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJS8GFK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="wrap">
        <header>
        <img class="tel" src="https://asset.myfabius.jp/lib/liftize/img/tel.png" alt="お気軽にお問い合わせください。TEL：0570-065-699 受付時間10:00～18:00（土日・祝日・年末年始を除く）" width="750" height="" />
    </header>
    <main>
        <div id="fv" class="content cta">
            <img src="https://asset.myfabius.jp/lib/liftize/img/yahoo/01_fv_yahoo.png" alt="
   新リフトケアでハリ、よみがえる　ほうれい線　目元　フェイスライン" width="750" height="" />
            <div class="cta_btn cta_btn_center btm0 wid100">
                <a href="#chatform">
                    <img class="animated pulse infinite" src="https://asset.myfabius.jp/lib/liftize/img/fv_cta_btn.png" alt="今すぐリフタイズを申し込む" width="" height="" />
                </a>
            </div>
        </div>
        <div class="content movie relative">
            <img src="https://asset.myfabius.jp/lib/liftize/img/02_movie_01.png" alt="スキンケアの最後にグンっ持ち上げ形状記憶" width="750" />
             <div class="mb50 youtube">
                     <div id="player"></div>
                </div>
        <div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/03_graph.gif" alt="ピンっとひきしめ潤って弾む肌" width="750" />
        </div>
        <div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/04_ranking.png" alt="堂々5冠達成" width="750" />
        </div>
        <div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/06_voice_01.png" alt="お客様の声続々届いてます" width="750" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/06_voice_02.png" alt="お客様の声続々届いてます" width="750" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/06_voice_03.png" alt="お客様の声続々届いてます" width="750" />
        </div>
        　<div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/07_trouble.png" alt="最近こんなこと感じていませんか？" width="750" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/08_survey.png" alt="あなたの肌トラブルはなんですか？" width="750" />
        </div>
        　　　<div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/09_cause.gif" alt="これからの悩み、年齢と共に失ってしまう肌弾力の低下が原因かもしれません" width="750" />
        </div>
        　　<div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/10_approach.png" alt="肌弾力にアプロートするには" width="750" />
        </div>
        　<div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/11_rift-up_01.png" alt="６種のリフトアップ成分に着目　新リフトケア" width="750" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/11_rift-up_02.png" alt="６種のリフトアップ成分に着目　新リフトケア" width="750" />
        </div>
        <div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/12_doctor.png" alt="美容皮膚科医院長も大注目" width="750" />
        </div>
        <div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/13_fp1.png" alt="リフトアップ成分でハリ、よみがえる" width="750" />
        </div>
        <div class="cta">
            <div class="wid100">
                <a href="#chatform">
                    <img class="animated pulse infinite" src="https://asset.myfabius.jp/lib/liftize/img/fv_cta_btn.png" alt="今すぐリフタイズを申し込む" width="" height="" />
                </a>
            </div>
        </div>
        　<div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/14_favorite_tittle.png" alt="本各エイジングケアクリーム　Liftize 人気の理由" width="750" />
            <div class="relative">
                <img src="https://asset.myfabius.jp/lib/liftize/img/yahoo/14_favorite_01_yahoo.png" alt="リフトアップ成分、感動実感" width="750" />
                <div class="absoluteC top22 wid86">
                    <img src="https://asset.myfabius.jp/lib/liftize/img/14_favorite_01.gif" alt="リフトアップ成分、感動実感" width="750" />
                </div>
            </div>
            <div class="relative">
                <img src="https://asset.myfabius.jp/lib/liftize/img/14_favorite_02.png" alt="バルーン効果で、ふっくらハリ肌" width="750" />
                <div class="absoluteC top34 wid86">
                    <img src="https://asset.myfabius.jp/lib/liftize/img/14_favorite_02.gif" alt="バルーン効果で、ふっくらハリ肌" width="750" />
                </div>
            </div>
            <img src="https://asset.myfabius.jp/lib/liftize/img/14_favorite_03.png" alt="うるおい補給で、みずみずしい肌" width="750" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/14_favorite_04.png" alt="３つの抗酸化成分で、エイジフリーに輝く" width="750" />
        </div>
        　<div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/15_fp2.png" alt="肌よみがえる！" width="750" />
        </div>
        <div class="cta">
            <div class="wid100">
                <a href="#chatform">
                    <img class="animated pulse infinite" src="https://asset.myfabius.jp/lib/liftize/img/fv_cta_btn.png" alt="今すぐリフタイズを申し込む" width="" height="" />
                </a>
            </div>
        </div>
        　<div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/16_flavor.png" alt="リラックスできるアロマの香り" width="750" />
        </div>
        <div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/17_how-to-use_01.png" alt="ご使用方法" width="750" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/17_how-to-use_02.png" alt="step1,2" width="750" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/17_how-to-use_03.png" alt="step3,4" width="750" />
        </div>
        <div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/18_promise_01.png" alt="肌への優しさにもこだわりました。10個のフリー成分" width="750" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/18_promise_02.png" alt="最高基準の製造・管理体制" width="750" />
            <img src="https://asset.myfabius.jp/lib/liftize/img/18_promise_03.png" alt="送料永久無料" width="750" />
        </div>
        <div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/19_Q&A.png" alt="Q&Aよくあるご質問" width="750" />
        </div>
        <div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/20_fp3.png" alt="ハリ、速攻実感エイジレスな輝き" width="750" />
        </div>
        <div class="content">
            <img src="https://asset.myfabius.jp/lib/liftize/img/21_zaiko.png" alt="在庫には限りがあります" width="750" />
        </div>
        <div class="content cta">
            <img src="https://asset.myfabius.jp/lib/liftize/img/00_offer02.png" alt="" width="750" />
            <div class="cta_btn cta_btn-R5 top40 wid48">
                <a href="#chatform">
                    <img class="animated pulse infinite" src="https://asset.myfabius.jp/lib/liftize/img/cta_btn.png" alt="今すぐお得にはじめる" width="291" height="" />
                </a>
            </div>
            <div class="cta_btn cta_btn right5 wid16 btm3_5 p10">
               <a href="https://shop.myfabius.jp/shop/cart/add?variant_id=963" target="_blank">
                    <img class="" src="https://asset.myfabius.jp/lib/liftize/img/btn_tanpin.png" alt="カートに入れる" width="" height="" />
                </a>
            </div>
        </div>
        <div class="btn-fixed" style="">
            <a class="btn_floating btn" href="#limited">
                <img class="animated pulse infinite" src=" https://asset.myfabius.jp/lib/liftize/img/btn_floating.png" alt="今すぐ注文する！" width="750" height="160" />
            </a>
        </div>
    </main><!-- ここまでがコンテンツエリアです-->
    <div id="limited">
        <!-- フォームエリア＋プラン説明-->
        <div class="confirmation">
            <img src="https://asset.myfabius.jp/lib/liftize/img/22_chart.png" alt="" width="750" height="" /></div>
        __PAYMENT_FORM__
    </div><!-- ここまでフォームエリア＋プラン説明-->
</div>
{# ureru_lp_footer #}
<!-- <footer></footer> に表示するコードを入力してください。 -->