<!--  <head></head> に表示するコードを入力してください。 -->
<meta charset="UTF-8">
<!-- Anti-flicker snippet (recommended)  -->
<style>
.async-hide {
    opacity: 0 !important
}
</style>
<script>
(function(a, s, y, n, c, h, i, d, e) {
    s.className += ' ' + y;
    h.start = 1 * new Date;
    h.end = i = function() { s.className = s.className.replace(RegExp(' ?' + y), '') };
    (a[n] = a[n] || []).hide = h;
    setTimeout(function() {
        i();
        h.end = null
    }, c);
    h.timeout = c;
})(window, document.documentElement, 'async-hide', 'dataLayer', 4000, { 'OPT-5JFNJR4': true });
</script>
<!--end Anti-flicker snippet (recommended)  -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-53155623-52"></script>
<script>
window.dataLayer = window.dataLayer || [];

function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());

gtag('config', 'UA-53155623-52', { 'optimize_id': 'OPT-5JFNJR4' });
</script>
</script>
<!-- end Global site tag (gtag.js) - Google Analytics -->
<!-- Google Tag Manager 00.全商品共通 -->
<script>
(function(w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-5KVJB5R');
</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager liftize用-->
<script>
(function(w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-NJS8GFK');
</script>
<!-- End Google Tag Manager -->
<!--▼CSS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<link rel="stylesheet" href="https://asset.myfabius.jp/lib/common/css/new_common.css">
<link rel="stylesheet" href="https://asset.myfabius.jp/lib/common/css/form_optimization.css">
<link rel="stylesheet" href="https://asset.myfabius.jp/lib/liftize/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css">
<!--▲CSS-->
<!--▼JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css">
<script src="https://asset.myfabius.jp/lib/common/js/common.js"></script>
<script src="https://asset.myfabius.jp/lib/common/js/form_optimization.js"></script>
<!--▲JS-->
<!-- <body></body> に表示するコードを入力してください。 -->
<!-- Google Tag Manager (noscript) 全商品共通タグマネ-->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KVJB5R" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- Google Tag Manager (noscript) liftize用-->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJS8GFK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<body class="reconfirm thanks no-js">
    <div class="container upsell">
        <header>
            <div class="inner">
                <img src="{{ file_root_path }}/mh/img/logo_fabius.png" width="240" height="54" alt="FABIUS">
            </div>
        </header>
        <main>
            {% if order.cv_upsell? %}
            <section>
                <nav class="step">
                    <figure>
                        <img alt="お申し込み完了" src="{{ file_root_path }}/mh/img/step03.gif">
                    </figure>
                </nav>
                <div class="message">
                    <h2>{{ order.billing_address.name01 }} 様<br>お申し込み、誠にありがとうございました。</h2>
                    <!-- start:receipt -->
                    <div class="payment">
                        <h3>以下の内容で承りました。</h3>
                        <div class="thanks_payment">
                            <div class="tp_box">
                                <p class="title">商品名</p>
                                <p class="content">{{ order.order_items | map: 'variant' | map: 'name' | join: ', ' }}</p>
                            </div>
                            <div class="tp_box">
                                <p class="title">商品の個数</p>
                                <p class="content txt_r">{{ order.order_items | map: 'quantity' | join: ', ' }}</p>
                            </div>
                            <div class="tp_box">
                                <p class="title">商品の単価</p>
                                <p class="content price">{{ order.order_items | map: 'price' | join: ', ' }}</p>
                            </div>
                            <div class="tp_box">
                                <p class="title">小計(税抜)</p>
                                <p class="content price">{{ order.subtotal }}</p>
                            </div>
                        </div>
                        <p class="other_price">消費税 <span class="price">{{ order.tax }}</span>円、送料<span class="price"> {{ order.deliv_fee }}</span>円</p>
                        <div class="thanks_total_payment">
                            <div class="ttp_box">
                                <p class="ttp_title">合計額(税込)</p>
                            </div>
                            <div class="ttp_box">
                                <p class="ttp_price price">{{ order.total }}円</p>
                            </div>
                        </div>
                        <!-- end:receipt -->
                    </div> <!-- end:payment -->
              <p class="pTB30">
                        ご登録いただきましたメールアドレスに、ご注文確認メールをお送りいたしました。<br>
                        商品の発送完了時には、「商品発送完了のお知らせ」をお送りいたします。<br>
                        商品の到着まで、今しばらくお待ちくださいませ。
                    </p>
                </div><!-- end:message -->
                <div class="upsell_img"><img src="https://asset.myfabius.jp/lib/liftize/img/upsell/liftize_upsell_01.png" alt="本気でお悩みの方にひとつだけお願いがあります！"></div>
                <div class="upsell_img"><img src="https://asset.myfabius.jp/lib/liftize/img/upsell/liftize_upsell_02.png" alt="ハリとたるみの悩みの改善を追求したアイテム"></div>
                <span class="fade_off upsell_float_display"></span>
                <div class="upsell_img"><img src="https://asset.myfabius.jp/lib/liftize/img/upsell/liftize_upsell_03.png" alt="リフトアップ成分でハリ、よみがえる"></div>
                <div class="upsell_img"><img src="https://asset.myfabius.jp/lib/liftize/img/upsell/liftize_upsell_04.png" alt="本気で確実に取り組みたい場合はターンオーバーが数周する４ヶ月以上のご継続をおすすめ"></div>
                 <div class="upsell_img"><img src="https://asset.myfabius.jp/lib/liftize/img/upsell/liftize_upsell_05.png" alt="このページだけの特別なご案内"></div>
                  <div class="upsell_img"><img src="https://asset.myfabius.jp/lib/liftize/img/upsell/liftize_upsell_06.png" alt="ラクトクコースのお届けイメージ"></div>
                <div class="all_bg" align="center">
                    <div class="all_bg_top" align="center">
                        <img class="upsell_block_img" src="https://asset.myfabius.jp/lib/liftize/img/upsell/liftize_upsell_07.png" alt="ラクトクプランへの変更確認">
                        <div align="center">
                            <ul class="btn clearfix">
                                <li>
                                    <form id="cv-upsell-view" method="post" action="/lp/cv_upsell?u={{ order.url.base_url }}" accept-charset="utf-8">
                                        <input name="{{ request_forgery_protection_token }}" type='hidden' value="{{ form_authenticity_token }}" />
                                        <div id="form_cv_upsell">
                                            <input type="hidden" name="_method" value="PUT" />
                                            {% if order.url.show_cv_upsell_countdown? %}
                                            <div class="upsell_float fade_off">
                                                <a href="#plan_change">
                                                    <img src="https://asset.myfabius.jp/lib/eu/img/upsell/upcell_timer.png" alt="受付終了までの時間">
                                                    <div class="countdown">
                                                        <center>
                                                            <div id="countdown-timer">
                                                                <div class="timer hour"></div>
                                                                <div class="timer minute"></div>
                                                                <div class="timer second"></div>
                                                            </div>
                                                        </center>
                                                    </div>
                                                </a>
                                            </div>
                                            {% endif %}
                                            <div class="upsell_block" id="plan_change">
                                                <div class="change">
                                                    <input id="submit" type="image" src="https://asset.myfabius.jp/lib//common/images/upsell/round_btn-submit_y.png" alt="人気NO.1でおトクなおまとめコースに変更する" style="width: 100%;" />
                                                </div>
                                                <div class="no_change show-modal">
                                                    <img src="https://asset.myfabius.jp/lib/common/images/upsell/round_btn-submit_n.png" alt="変更しない">
                                                </div>
                                            </div>
                                            <div id="modalwin" class="modalwin hide">
                                                <a herf="#" class="modal-close"></a>
                                                <div class="modal_block">
                                                    <div class="text">変更しないで本当によろしいですか？</div>
                                                    <div class="btn_area">
                                                        <div class="close_btn">ページを終了する</div>
                                                        <div class="btn_no">コースを変更する</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input id="cv_upsell_variant_id" name="preview_order[order_items_attributes][][variant_id]" type="hidden" value="{{ order.first_order_item.variant.cv_upsell_product.master.id }}" />
                                            <input name="preview_order[order_items_attributes][][quantity]" type="hidden" value="1" />
                                            <input name="order[take_cv_upsell_offer]" type="hidden" value="1" />
                                            <div id="view-payment-information">
                                                <input id="payment_method_id" name="preview_order[payment_attributes][payment_method_id]" type="hidden" value="{{ order.payment.payment_method_id }}" />
                                                <input id="payment_times" name="preview_order[payment_attributes][payment_times]" type="hidden" value="{{ order.payment.payment_times }}" />
                                            </div>
                                            <div id="view-shipping-carrier">
                                                <input id="shipping_carrier_id" name="preview_order[shipping_carrier_id]" type="hidden" value="{{ order.shipping_carrier_id }}" />
                                            </div>
                                            <!-- 【必須】お届け日の指定 -->
                                            <div id="view-payment-schedule">
                                                <input id="payment_schedule" name="preview_order[subs_order_attributes][payment_schedule]" type="hidden" />
                                                <input id="payment_schedule_locked" name="preview_order[subs_order_attributes][payment_schedule_locked]" type="hidden" />
                                                <input id="scheduled_to_be_delivered_every_x_month" name="preview_order[subs_order_attributes][scheduled_to_be_delivered_every_x_month]" type="hidden" />
                                                <input id="scheduled_to_be_delivered_on_xth_day" name="preview_order[subs_order_attributes][scheduled_to_be_delivered_on_xth_day]" type="hidden" />
                                                <input id="scheduled_to_be_delivered_every_x_day" name="preview_order[subs_order_attributes][scheduled_to_be_delivered_every_x_day]" type="hidden" />
                                                <input id="scheduled_2nd_delivery_date" name="preview_order[subs_order_attributes][scheduled_to_be_delivered_at]" type="hidden" />
                                                <input id="scheduled_2nd_delivery_time" name="preview_order[subs_order_attributes][scheduled_delivery_time]" type="hidden" />
                                                <input id="scheduled_to_be_delivered_at" type="hidden" />
                                                <input id="scheduled_1st_delivery_date" name="preview_order[scheduled_to_be_delivered_at]" type="hidden" />
                                                <input id="scheduled_1st_delivery_time" name="preview_order[scheduled_delivery_time]" type="hidden" />
                                                <div id="container_payment_schedule">
                                                    <div id="form_landing">
                                                        <div id="landing_form-wrapper">
                                                            <table id="landing_form" class="without_background" style="">
                                                                <!-- お届けサイクルの指定 -->
                                                                <tr id="container_delivery_cycle" style="display:none;" class="form_required">
                                                                    <th>
                                                                        <strong>お届けサイクルの指定</strong>
                                                                    </th>
                                                                    <td>
                                                                        <select id="select_payment_schedule" class="input_box_payment_schedule_ec" class="validate[required]">
                                                                            <option value="date" {% if order.subs_order.payment_schedule=='date' %} selected {% endif %}>日付で指定</option>
                                                                            <option value="term" {% if order.subs_order.payment_schedule=='term' %} selected {% endif %}>間隔で指定</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <!-- /お届けサイクルの指定 -->
                                                                <!-- お届けサイクルの指定（日付） -->
                                                                <tr id="container_delivery_schedule_by_date" style="display:none;" class="form_required">
                                                                    <th></th>
                                                                    <td>
                                                                        <select id="select_scheduled_to_be_delivered_every_x_month" class="validate[required]">
                                                                            {% for m in (1..12) %}
                                                                            <option value="{{ m }}" {% if order.subs_order.scheduled_to_be_delivered_every_x_month==m %} selected {% endif %}>{{ m }}ヶ月</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                        <select id="select_scheduled_to_be_delivered_on_xth_day" class="validate[required]">
                                                                            {% for d in (1..28) %}
                                                                            <option value="{{ d }}" {% if order.subs_order.scheduled_to_be_delivered_on_xth_day==d %} selected {% endif %}>{{ d }}日</option>
                                                                            {% endfor %}
                                                                            <option value="99" {% if order.subs_order.scheduled_to_be_delivered_on_xth_day==99 %} selected {% endif %}>末日</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <!-- /お届けサイクルの指定（日付） -->
                                                                <!-- お届けサイクルの指定（間隔） -->
                                                                <tr id="container_delivery_schedule_by_term" style="display:none;" class="form_required">
                                                                    <th></th>
                                                                    <td>
                                                                        <select id="select_scheduled_to_be_delivered_every_x_day" class="validate[required]">
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <!-- /お届けサイクルの指定（間隔） -->
                                                                <!-- お届け日の指定 -->
                                                                <tr id="container_delivery_schedule_date" style="display:none;" class="form_required">
                                                                    <th>
                                                                        <strong>お届け日の指定</strong>
                                                                    </th>
                                                                    <td>
                                                                        <select id="select_scheduled_to_be_delivered_at" class="validate[required]">
                                                                            {% for d in options_scheduled_to_be_delivered_at %}
                                                                            {% assign a = order.scheduled_to_be_delivered_at | date: '%Y-%m-%d' %}
                                                                            {% assign b = d | date: '%Y-%m-%d' %}
                                                                            <option value="{{ d | date: '%Y-%m-%d' }}" {% if a==b %}selected{% endif %}>{{ d | date: '%Y-%m-%d' }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                        にお届け
                                                                    </td>
                                                                </tr>
                                                                <!-- /お届け日の指定 -->
                                                                <!-- お届け時間の指定 -->
                                                                <tr id="container_delivery_schedule_time" style="display:none;" class="form_required">
                                                                    <th>
                                                                        <strong>お届け時間の指定</strong>
                                                                    </th>
                                                                    <td>
                                                                        <select id="select_scheduled_delivery_time">
                                                                        </select>
                                                                        に配達
                                                                    </td>
                                                                </tr>
                                                                <!-- /お届け時間の指定 -->
                                                                <!-- お届け予定日 -->
                                                                <tr id="container_scheduled_delivery_dates" style="display:none;" class="form_required">
                                                                    <th>
                                                                        <strong>お届け予定日</strong>
                                                                    </th>
                                                                    <td>
                                                                        <div id="scheduled_1st_delivery_date_text" style="display: none;"></div>
                                                                        <div id="scheduled_2nd_delivery_date_text" style="display: none;"></div>
                                                                    </td>
                                                                </tr>
                                                                <!-- /お届け予定日 -->
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /【必須】お届け日の指定 -->
                                        </div>
                                        <div id="expired_cv_upsell" style="display:none;">
                                            <div id="shade"></div>
                                            <div class="modal_block">
                                                <div class="text">ラクトクコースの受付を終了しました。</div>
                                                <div class="btn_area">
                                                    <div class="close_btn">ページを終了する</div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
            </section>
            {% else %}
            <section>
                <nav>
                    <figure> <img src="http://asset.myfabius.jp/lib/common/images/thanks/step03.gif" alt="お申し込み完了"></figure>
                </nav>
                <div class="message">
                    <h2>{{ order.billing_address.name01 }} 様<br>お申し込み、誠にありがとうございました。</h2>
                    <p>
                        ご登録いただきましたメールアドレスに、ご注文確認メールをお送りいたしました。<br>
                        商品の発送完了時には、「商品発送完了のお知らせ」をお送りいたします。<br>
                        商品の到着まで、今しばらくお待ちくださいませ。
                    </p>
                </div>
            </section>
            {% endif %}
        </main>
    </div>
</body>
{# ureru_lp_footer #}

<!-- <footer></footer> に表示するコードを入力してください。 -->